In [232]:
%pip install geopy

Requirement already satisfied: geopy in c:\users\vempa\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\vempa\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [233]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from IPython.core.display import display, HTML
import time

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\30944406.py:7: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [234]:
zomato_data = pd.read_csv(r'zomato_data.csv')
zomato_data.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [235]:
geo_data=pd.read_csv(r"Geographical Coordinates.csv")
geo_data.head()

       listed_incity   Latitude  Longitude
0       Banashankari  12.939333  77.553982
1  Bannerghatta Road  12.952660  77.605048
2       Basavanagudi  12.941726  77.575502
3          Bellandur  12.925352  77.675941
4       Brigade Road  12.967358  77.606435

In [236]:
zomato_data.loc[zomato_data['rate']=='-'].count()

online_order                 69
book_table                   69
rate                         69
votes                        69
rest_type                    69
dish_liked                    0
cuisines                     69
approx_costfor_two_people    65
listed_intype                69
listed_incity                69
dtype: int64

In [237]:
zomato_data.loc[zomato_data['rate']=='-','rate']=np.nan
zomato_data.loc[zomato_data['rate']=='NEW','rate']=np.nan

In [238]:
zomato_data.loc[zomato_data['rate']=='nan','rate'].count()

0

In [239]:
zomato_data['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', nan, '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [240]:
zomato_data['rate']=pd.to_numeric(zomato_data['rate'].str.replace("/5","").str.strip())

In [241]:
zomato_data['rate'].fillna(zomato_data['rate'].median(),inplace=True)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\2503414322.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zomato_data['rate'].fillna(zomato_data['rate'].median(),inplace=True)

In [242]:
zomato_data['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [243]:
zomato_data['approx_costfor_two_people'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [244]:
zomato_data['approx_costfor_two_people']=pd.to_numeric(zomato_data['approx_costfor_two_people'].str.replace(",","",regex=True))

In [245]:
zomato_data['approx_costfor_two_people'].fillna(zomato_data['approx_costfor_two_people'].median(),inplace=True)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\4251422764.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zomato_data['approx_costfor_two_people'].fillna(zomato_data['approx_costfor_two_people'].median(),inplace=True)

In [246]:
zomato_data['approx_costfor_two_people'].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        900.,  200.,  750.,  150.,  850.,  100., 1200.,  350.,  250.,
        950., 1000., 1500., 1300.,  199.,   80., 1100.,  160., 1600.,
        230.,  130.,   50.,  190., 1700., 1400.,  180., 1350., 2200.,
       2000., 1800., 1900.,  330., 2500., 2100., 3000., 2800., 3400.,
         40., 1250., 3500., 4000., 2400., 2600.,  120., 1450.,  469.,
         70., 3200.,   60.,  560.,  240.,  360., 6000., 1050., 2300.,
       4100., 5000., 3700., 1650., 2700., 4500.,  140.])

In [247]:
zomato_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51717 non-null  float64
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 3.9+ MB

In [248]:
zomato_data['dish_liked'].isna().sum()

28078

In [249]:
zomato_data['dish_liked'].fillna("Not Available",inplace=True)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\3985057258.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zomato_data['dish_liked'].fillna("Not Available",inplace=True)

In [250]:
zomato_data['dish_liked'].isna().sum()

0

In [251]:
zomato_data['cuisines'].isna().sum()

45

In [252]:
zomato_data['cuisines'].fillna("Other",inplace=True)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\663534733.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zomato_data['cuisines'].fillna("Other",inplace=True)

In [253]:
zomato_data['cuisines'].isna().sum()

0

In [254]:
zomato_data['rest_type'].isna().sum()

227

In [255]:
zomato_data['rest_type'].fillna("Unknown",inplace=True)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\1100642031.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zomato_data['rest_type'].fillna("Unknown",inplace=True)

In [256]:
zomato_data['rest_type'].isna().sum()

0

In [257]:
zomato_data['votes'].isna().value_counts()

votes
False    51717
Name: count, dtype: int64

In [258]:
zomato_data[['online_order','book_table']].head()

  online_order book_table
0          Yes        Yes
1          Yes         No
2          Yes         No
3           No         No
4           No         No

In [259]:
zomato_data[['online_order','book_table']]=zomato_data[['online_order','book_table']].applymap({'Yes':1,"No":0}.get)

C:\Users\vempa\AppData\Local\Temp\ipykernel_9356\1063588473.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  zomato_data[['online_order','book_table']]=zomato_data[['online_order','book_table']].applymap({'Yes':1,"No":0}.get)

In [260]:
zomato_data[['online_order','book_table']].head()

   online_order  book_table
0             1           1
1             1           0
2             1           0
3             0           0
4             0           0

In [261]:
zomato_data['approx_costfor_two_people']=zomato_data['approx_costfor_two_people'].astype('i')

In [262]:
zomato_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  int32
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 3.7+ MB

In [263]:
final_data=pd.merge(zomato_data,geo_data,on='listed_incity',how='left')

In [264]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  int32
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
 10  Latitude                   46137 non-null  float64
 11  Longitude                  46137 non-null  float64
dtypes: float64(3), int32(1), int64(3), object(5)
memory usage: 4.5+ MB

In [265]:
final_data.to_csv("final_data.csv")

In [266]:
cat_data=zomato_data.select_dtypes(include='object')
cat_data.head()

,rest_type,dish_liked,cuisines,listed_intype,listed_incity
0,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",Buffet,Banashankari
1,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",Buffet,Banashankari
2,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",Buffet,Banashankari
3,Quick Bites,Masala Dosa,"South Indian, North Indian",Buffet,Banashankari
4,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",Buffet,Banashankari

In [267]:
zomato_data.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

### MCQ ANSWERS

In [268]:
zomato_data.shape

(51717, 10)

In [269]:
zomato_data[zomato_data['cuisines'].str.contains("North Indian")]['cuisines'].count()

21085

In [270]:
zomato_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  int32
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 3.7+ MB

In [271]:
from collections import Counter
cuisine_series = zomato_data['cuisines'].dropna()
all_cuisines = [cuisine.strip() for items in cuisine_series for cuisine in items.split(',')]

cuisine_counts = Counter(all_cuisines)
most_common = cuisine_counts.most_common(1)
most_common

[('North Indian', 21085)]

In [272]:
zomato_data['listed_incity']
zomato_data.groupby('listed_incity')['approx_costfor_two_people'].mean().sort_values(ascending=False).head()

listed_incity
Church Street     770.361248
Brigade Road      766.676088
MG Road           759.364992
Lavelle Road      751.151950
Residency Road    739.573457
Name: approx_costfor_two_people, dtype: float64

In [273]:
zomato_data.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [274]:
zomato_data[zomato_data['votes']>1000].groupby('rest_type')['rate'].mean().sort_values(ascending=False).head()

rest_type
Bakery                  4.800000
Pub, Cafe               4.657500
Cafe, Dessert Parlor    4.578261
Dessert Parlor          4.518367
Microbrewery            4.508333
Name: rate, dtype: float64

In [275]:
zomato_data['approx_costfor_two_people'].min()

40

In [276]:
zomato_data[zomato_data['online_order']==1]['online_order'].count()

30444

In [277]:
zomato_data[(zomato_data['listed_incity'] == 'Banashankari') & (zomato_data['online_order'] == 1)]['online_order'].count()

546

In [278]:
zomato_data[(zomato_data['listed_incity'] == 'Banashankari') & (zomato_data['online_order'] == 1)]['online_order'].count() / zomato_data[zomato_data['online_order']==1]['online_order'].count()

0.017934568387859676

In [279]:
a=zomato_data[(zomato_data['votes']>500) & (zomato_data['rate']<3.0)]
a.groupby('listed_incity')['listed_incity'].count().sort_values(ascending=False).head()

listed_incity
Brookefield         8
Whitefield          6
Indiranagar         4
Old Airport Road    4
Bellandur           3
Name: listed_incity, dtype: int64

In [280]:
zomato_data.groupby('listed_incity')['rest_type'].nunique().sort_values(ascending=False).head()

listed_incity
BTM              62
Brigade Road     61
Church Street    61
MG Road          59
Lavelle Road     59
Name: rest_type, dtype: int64

In [281]:
a=zomato_data[zomato_data['listed_intype']=='Buffet']['approx_costfor_two_people'].mean()
b=zomato_data[zomato_data['listed_intype']=='Delivery']['approx_costfor_two_people'].mean()
a-b

831.2513659898209

In [282]:
zomato_data[zomato_data['online_order']==1]['votes'].max()

16832

In [283]:
zomato_data[(zomato_data['cuisines'].str.contains("North Indian")) & (zomato_data['cuisines'].str.contains("Chinese"))]['rate'].mean()

3.5919080217658412

In [284]:
zomato_data['estimated_revenue'] = zomato_data['approx_costfor_two_people'] * zomato_data['votes']
zomato_data.groupby('listed_incity')['estimated_revenue'].sum().sort_values(ascending=False).head()

listed_incity
Koramangala 7th Block    1006195610
Koramangala 5th Block     987609890
MG Road                   926969270
BTM                       924636830
Koramangala 4th Block     919922860
Name: estimated_revenue, dtype: int64

In [285]:
zomato_data.drop("estimated_revenue",axis=1,inplace=True)

In [286]:
zomato_data[zomato_data['rate']<3.0]['rest_type'].value_counts(ascending=False).head()

rest_type
Quick Bites           738
Casual Dining         730
Cafe                  182
Delivery              115
Takeaway, Delivery     93
Name: count, dtype: int64

In [287]:
zomato_data[(zomato_data['rate']>4.2) & (zomato_data['votes']>500)]['listed_incity'].value_counts(ascending=False).head()

listed_incity
Koramangala 7th Block    182
Church Street            181
MG Road                  180
Brigade Road             175
Koramangala 5th Block    170
Name: count, dtype: int64